.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
L19-Sampling-variation_cache
L19-Sampling-variation_files
L20-Confidence-intervals_cache
L20-Confidence-intervals_files
L25-Confounding_cache
L25-Confounding_files
/.quarto/
L29-NHT_cache
